<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UTImportedTypeDeclarations</key>
    <array>
		<dict>
			<key>UTTypeIdentifier</key>
            <string>net.daringfireball.markdown</string>
            <key>UTTypeReferenceURL</key>
            <string>http://daringfireball.net/projects/markdown/</string>
            <key>UTTypeDescription</key>
            <string>Markdown document</string>
            <key>UTTypeIconFile</key>
            <string>public.text.icns</string>
            <key>UTTypeConformsTo</key>
            <array>
				<string>public.text</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>markdown</string>
					<string>mdown</string>
					<string>md</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.daringfireball.markdown</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
        <string>com.fiatdev.QLMarkdown</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>984AED87-72B9-4060-B7BC-935561C2221B</key>
		<string>QuickLookGeneratorPluginFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>5E2D9680-5022-40FA-B806-43349622E5B9</key>
		<array>
			<string>984AED87-72B9-4060-B7BC-935561C2221B</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
    <!-- Change following property to <true/> if the generators supports
         multiple concurrent requests -->
    <key>QLSupportsConcurrentRequests</key>
    <false/>
    <!-- Change following property to <true/> if the generators needs
         to be run on main thread -->
    <key>QLNeedsToBeRunInMainThread</key>
    <false/>
    <!-- Change following property to indicate the minimum useful size for a thumbnail the generator
     can produce. If your generator is fast enough, you can remove the minimum size so to appear in lists -->
    <key>QLThumbnailMinimumSize</key>
    <real>17</real>
    <!-- Change following properites to indicate the preview size to use if preview generation takes too long -->
    <key>QLPreviewWidth</key>
    <real>800</real>
    <key>QLPreviewHeight</key>
    <real>600</real>
</dict>
</plist>
