html, body {
	font-size: 14px;
	font-family: NanumGothic, 'Malgun Gothic', Arial, Helvetica, sans-serif;
	line-height: 130%;
}

/**************************************************************************
 * Code
 **************************************************************************/
code, pre code {
	font-family: Consolas, Monaco, Andale Mono, Courier New, monospace, NanumGothic, 'Malgun Gothic', Arial, Helvetica, sans-serif;
}
code {
	background-color: #fee9cc;
	color: rgba(0, 0, 0, 0.75);
	padding: 1px 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
pre {
	display: block;
	padding: 14px;
	margin: 0 0 18px;
	border: 1px solid #d9d9d9;
	white-space: pre-wrap;
	word-wrap: break-word;
}
pre code {
	background-color: #fff;
	color: #737373;
	padding: 0;
}

/**************************************************************************
 * Markdown
 **************************************************************************/

h1, h2, h3, h4, h5, h6, p, blockquote {
	margin: 0;
	padding: 0;
}

table {
	margin: 10px 0 15px 0;
	border-collapse: collapse;
}
td, th {
	border: 1px solid #ddd;
	padding: 3px 10px;
}
th {
	padding: 5px 10px;
	background-color: #f7fcfe;
}

a {
	color: #0069d6;
}
a:hover {
	color: #0050a3;
	text-decoration: none;
}
a img {
	border: none;
}
p {
	margin-bottom: 9px;
}
h1, h2, h3, h4, h5, h6 {
	color: #404040;
	line-height: 36px;
	padding-top: 15px;
}
h1 {
	margin-bottom: 18px;
	font-size: 30px;
	border-bottom: 2px solid #000000;
	padding-bottom: 4px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 13px;
}
hr {
	margin: 0 0 19px;
	border: 0;
	border-bottom: 1px solid #ccc;
}
blockquote {
	padding: 13px 13px 21px 15px;
	margin-bottom: 18px;
	font-family: georgia, serif;
	font-style: italic;
}
blockquote:before {
	content: "\201C";
	font-size: 40px;
	margin-left: -10px;
	font-family: georgia, serif;
	color: #eee;
}
blockquote p {
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 0;
	font-style: italic;
}
del {
	opacity: .4;
}
img {
	max-width: 100%;
}

/*
 @media screen and (min-width: 914px) {
 body {
 width: 854px;
 margin:10px auto;
 }
 }
 */

@media print {
	body, code, pre code, h1, h2, h3, h4, h5, h6 {
		color: black;
	}
	table, pre {
		page-break-inside: avoid;
	}
}